@using BigEvent.ViewModel
@model List<EventsListViewModel>
@section StyleCss{
<link rel="stylesheet" href="~/css/eventsList.css" />
}

<h2>Events List</h2>

<div class="eventListContainer">
    @{string previousEventTime = "";}
    @for (var i = 0; i < @Model.Count(); i++)
    {
        var _event = @Model[i];

        if (i == 0)
        {
            <div class="date-separator">
                <div class="line"></div>
                <div class="next-day">
                    @_event.DayOfTheWeek
                    @_event.DateTime.ToString("MM/dd/yy")
                </div>
                <div class="line"></div>
            </div>
            previousEventTime = _event.DateTime.ToString("MM/dd/yy");
        }
        else
        {
            var currentEventTime = _event.DateTime.ToString("MM/dd/yy");
            if (!currentEventTime.Equals(previousEventTime))
            {
                <div class="date-separator">
                    <div class="line"></div>
                    <div class="next-day">
                        @_event.DayOfTheWeek
                        @_event.DateTime.ToString("MM/dd/yy")
                    </div>
                    <div class="line"></div>
                </div>

            }
            else
            {
                <hr />
            }
            previousEventTime = _event.DateTime.ToString("MM/dd/yy");
        }


        <div class="eventContainer">
            <div class="event-img">
                <img src=@_event.ImgScr alt=@_event.ImgName />
            </div>

            <div class="">
                <div class="event-data">
                    @_event.DateTime.ToString("MM/dd/yyyy HH:mm")
                </div>
                <div class="event-name">
                    @_event.Name
                </div>
                <div class="event-host-div">
                    <span>

                        <a class="event-host" href="">@_event.HostName</a>
                    </span>
                    <div class="event-type">
                        @_event.Type
                    </div>
                </div>
                <div class="event-time">
                    @_event.DateTime.ToString("HH:mm")
                </div>
            </div>
            <div class="event-links">



                <div class="event-icons">
                    <i class="bi bi-star"></i>
                    <i class="bi bi-bell "></i>
                </div>
            </div>
        </div>



    }
</div>
