@using BigEvent.ViewModel
@model IEnumerable<EventsListViewModel>
@section StyleCss{
<link rel="stylesheet" href="~/css/eventsList.css" />
}

<h2>Events List</h2>

<div class="eventListContainer">
    @foreach (var _event in @Model)
    {
        <div class="eventContainer">
            <div class="event-img   ">
                <img src=@_event.ImgScr alt=@_event.ImgName />
            </div>

            <div class="">
                <div class="event-data">
                    @_event.DateTime.ToString("MM/dd/yyyy HH:mm")
                </div>
                <div class="event-name">
                    @_event.Name
                </div>
                <div class="event-host-div">
                    <a class="event-host" href="">@_event.HostName</a>


                    <span class="event-type">
                        @_event.Type
                    </span>
                </div>
                <div class="event-time">
                    @_event.DateTime.ToString("HH:mm")
                </div>
            </div>
            <div class="event-links">
                <div class="event-icons">
                    dasdasdas
                </div>
            </div>
        </div>
        <hr />


    }

</div>
