@using BigEvent.ViewModel
@model IEnumerable<EventsListViewModel>
@section StyleCss{
<link rel="stylesheet" href="~/css/eventsList.css" />
}

<h2>Events List</h2>

<div class="eventListContainer">
    @foreach (var _event in @Model)
    {
        <div class="eventContainer">
            <div class="event-img   ">
                <img src=@_event.ImgScr alt=@_event.ImgName />
            </div>

            <div class="">
                <div class="event-data">
                    @_event.DateTime.ToString("MM/dd/yyyy HH:mm")
                </div>
                <div class="event-name">
                    @_event.Name
                </div>
                <div class="event-host-div">
                    <span>

                        <a class="event-host" href="">@_event.HostName</a>
                    </span>
                    <div class="event-type">
                        @_event.Type
                    </div>
                </div>
                <div class="event-time">
                    @_event.DateTime.ToString("HH:mm")
                </div>
            </div>
            <div class="event-links">



                <div class="event-icons">
                    <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                    </svg>

                    <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                    </svg>
                </div>
            </div>
        </div>
        <hr />


    }

</div>
